.search{
    align-items: center;
}

.hero-image {
    background-image: url("/Users/Anna/Fridge-Recipe-App/Pictures");
    background-color: #cccccc;
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
  }