#nav{
    background-color:green;
}

#recipe-nav, #facts-nav, #blog-nav, #about-nav{
    color:white;
}

.heading{
    color: white;
    font-size:40px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

#RecipeName{
    color:black;
    text-align:center;
}

#recipe
{
   font-size:35px;
   display:none;
}
 #button{
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 180px;
    height: 40px;
    background-color: black;
    float:right;
    opacity: 1;

}

.uk-container{
    margin:auto;
    width: 40%;
    padding: 15px;
    background-color:white;
    border: 5px dotted green;
    opacity: .75;
 }

#h1{
    text-align:center;
    color: black;
    opacity:1;
}

#input1,#input2,#input3{
    color: black;
    border:solid 3px black;
    width: auto;
    height:50px;
    margin-left: 135px;
    background: green;
   
}

#hero-image{
    width: auto;
    height: 716px;
    opacity: 0.63;
}
#main{
    margin-left: auto;
}

.uk-container-recipe{
    margin: auto;
    width: 100%;
    padding: 10px;
}

#recipe-img{
    width: 50%;
    height:auto;
    margin:auto;
}

#RecipeName, #instructionlabel, #RecipeCuisine, #Ingredients{
    text-align: center;
    font-size: 25px;
    font-weight:bold;
}

#mealInstructions,#ingredientsList,#RecipeCountry{
    font-weight:bold;
    text-align:center;
}

