#nav,#button{
    background-color:green;
       
}

h1{
    /* text-align:center; */
    color: white;
    font-size:30px;
    font-weight: bold;
}
 #button{
    color:white;
    font-size: 15px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-list,.uk-margin, #button{
    margin:auto;
    width: 50%;
    padding: 10px;
    background-color: green;
}


#input1,#input2,#input3{
    color: black;
    border-color:black;
}

#hero-image{
    width: auto;
    height: 716px;
    opacity: 0.63;
}